.demo-pop {
    position: absolute;
    width: 50%;
    border: 2px solid #ccc;
    height: 60vh;
    left: 25%;
    background: #fff;
    display: inherit;
}

.cross-btn {
    background: cadetblue;
    border-radius: 30px;
    color: #fff;
    float: right;
    margin: 15px;
    cursor: pointer;
}